body{
background: #777;
color: #777;
width: 960px;
height: 320px;
font-size: 18px;
float: center; 
margin-left: 5%; 
font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif; 
}

header{
background: #ebebeb;
margin-bottom: 10px;
width: 94%;
height: 90px;
text-align: center;
float: center;
line-height: 85px;
}

#nav{
background: #ebebeb;
width: 94%;
margin-bottom: 10px;
text-align: center;
float: center;
height: 100px;
line-height: 85px;
}

#aside{
background: #ebebeb;
padding: 30px;
float: right;
width: 280px;
height: 211px;
margin-top: 10px;
margin-bottom: 300px;
margin-right: 57px;
text-align: center;

}

#section{
background: #ebebeb;
width: 495px;
padding: 20px;
height: 230px;
text-align: center;
float: left;
margin-top: 10px;



}

#article{
background: #777;
color: #ebebeb;
padding: 20px;
height: 150px;
text-align: center;
margin-top: 20px;
}

#headers{
background: #ebebeb; 
color: #777;
height: 50px;
line-height: 45px;
font-weight: bold;
margin-top: 30px;
}

#paragraph{
background: #ebebeb;
color: #777;
height: 50px;
margin-top: 10px;
line-height: 45px;
}

#footer{
background: #ebebeb;
margin-top: 310px;
width: 94%;
height: 90px;
float: center;
text-align: center;
text-indent: 350px;
line-height: 85px;
}