body{
background: #777;
color: #777;
width: 960px;
height: 320px;
font-size: 18px;
float: center; 
margin-left: 5%;   
}

header{
background: #ebebeb;
margin-bottom: 10px;
width: 94%;
height: 90px;
text-align: center;
float: center;
}

#nav{
background: #ebebeb;
width: 94%;
margin-bottom: 10px;
text-align: center;


float: center;
height: 100px;
}

#aside{
background: #ebebeb;
padding: 30px;
float: right;
width: 200px;
height: 211px;
margin-top: 10px;
margin-bottom: 300px;
margin-right: 57px;
text-align: center;

}

#section{
background: #ebebeb;
width: 495px;
padding: 60px;
height: 150px;
text-align: center;
float: left;
margin-top: 10px;

}

#article{
background: #777;
color: #ebebeb;
padding: 40px;
height: 100px;

}

#headers{
background: #ebebeb; 
color: #777;
margin-bottom: 20px;  
}

#paragraph{
background: #ebebeb;
color: #777;
}

#footer{
background: #ebebeb;
margin-top: 310px;
width: 94%;
height: 90px;
float: center;
text-align: center;
}